{% extends 'base.html' %}

  {% block content %}
  <br>
	<table class="table">
    <thead class="thead thead-dark">
    <tr>
    	<th><h5>Boards</h5></th>
    	<th><h5>Topic</h5></th>
    	<th><h5>Posts</h5></th>
    	<th><h5>Last Post</h5></th>
      </tr>
    </thead>

    <tbody>
    {% for board_list in boards %}	
      {# iterating all the  boards#}
    <tr>

   <td>
    <a href="{% url 'board_topics' board_list.pk %}"><b>{{ board_list.name }}</b></a><br>
   	<small>{{board_list.description}}</small>
   </td>

	<td class="align-middle">
            {{ board_list.get_posts_count }}
          </td>
          <td class="align-middle">
            {{ board_list.topics.count }}
          </td>
          <td class="align-middle">
          {% with post=board_list.get_last_post %}
            {% if post %}
    <small>
      <a href="{% url 'topic_posts' board_list.pk post.topic.pk %}">
        By {{ post.created_by.username }} at {{ post.created_at }}
        </a>
      </small>
    {% else %}
        <small class="text-muted">
          <em>No posts yet.</em>
        </small>
      {% endif %}
    {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

